* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

main {
/*	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 200px;
	font-size: 20px;
	grid-gap: 10px;*/

	display: flex;
	flex-flow: wrap;
	justify-content: space-around;
}

div{
	width: 18%;
	margin: 10px auto;
	border: 1px solid gray;
	text-align: center;
}

iframe{
	width: 100%;
}