@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	font-size: 10px;
	font-family: Montserrat, Arial;
}

body {
	min-height: 100vh;
	background: rgba(244, 244, 244, 1.0);
}

.header {
	width: 100%;
	height: 8vh;
	padding: 10px 5%;
	background: #3A3335;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.title {
	font-size: 4em;
	color: orange;
}

.navbar {
	font-size: 1.8em;
}

.navbar ul {
	list-style: none;
	display: flex;
	justify-content: space-around;
}

.navbar li {
	width: 250px;
	text-align: center;
	margin: 0;
}

.navbar a {
	color: white;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.45s ease-out;
}

.navbar a:hover,
.navbar a:focus {
	color: #EB5E55;
	border-bottom: 2px solid #EB5E55;
	transition: all 0.45s ease-out;
	outline: none;
}

.navbar a:active {
	color: #D81E5B;
	border-bottom: none;
}

main {
	min-height: 100vh;
	overflow: hidden;
	display: flex;
}

.panel {
	box-shadow: 0 0 1px 1px white;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	background-position: center;
	background-size: cover;

	flex-grow: 1;
	font-size: 3em;
	transition:
		font-size 0.5s cubic-bezier(.86,-0.81,.53,.77),
		flex 0.5s cubic-bezier(.86,-0.81,.53,.77);
}

.panel.active {
	flex-grow: 2.5;
	font-size: 6em;
}

.panel p {
	width: 100%;
	flex: 1 0 auto; /* Visually speaking, what is specified here is actually the height, because we have already set the flex container's flex-direction: column; */

	color: white;
	text-transform: uppercase;
	text-shadow: 0 0 3px gray, 0 0 10px rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: rgba(0, 0, 0, 0.50);

	transition: transform 0.5s ease-out;

}

.panel:nth-child(1) { background-image: url('images/alona-perez-p4xNF5ZPc0c-unsplash.jpg'); }
.panel:nth-child(2) { background-image: url('images/hubert-neufeld-TWe4tUsLot8-unsplash.jpg'); }
.panel:nth-child(3) { background-image: url('images/ivana-cajina-3YzjvxD_7ig-unsplash.jpg'); }
.panel:nth-child(4) { background-image: url('images/joel-fulgencio-6g9BxgCNQv4-unsplash.jpg'); }
.panel:nth-child(5) { background-image: url('images/yu-kato-dNWGjvrG0QA-unsplash.jpg'); }

.panel p:first-child {
	transform: translateY(-100%);
}
.panel.move p:first-child {
	transform: translateY(0);
}
.panel p:last-child {
	transform: translateY(100%);
}
.panel.move p:last-child {
	transform: translateY(0);
}









