/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	font-size: 10px;
	font-weight: 400;
	font-family: Helvetica, Montserrat, Arial;
}

body {
	min-height: 100vh;
	background: rgba(244, 244, 244, 1.0);
	background: #84a59d;
}

.header {
	width: 100%;
	padding: 10px 5%;
	background: #84a59d;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 0.5px solid white;
}

.title {
	font-size: 4em;
	color: #f6bd60;
}

.navbar {
	font-size: 1.8em;
}

.navbar ul {
	list-style: none;
	display: flex;
	justify-content: space-around;
}

.navbar li {
	width: 250px;
	text-align: center;
	margin: 0;
}

.navbar a {
	color: white;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.45s ease-out;
}

.navbar a:hover,
.navbar a:focus {
	color: #f5cac3;
	border-bottom: 2px solid #f5cac3;
	transition: all 0.45s ease-out;
	outline: none;
}

.navbar a:active {
	color: #f28482;
	border-bottom: none;
}

.main {
	margin: 70px auto;
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	align-items: center;
	flex: 1 0 auto;
}

.svgWrapper {
	width: 100%;
	display: flex;
	justify-content: center;
}

svg {
	fill: rgba(255,255,255,0.5);
	background: rgba(0,0,0,0.1);
	padding: 20px;
	border-radius: 50%;
	width:200px;
	margin-bottom: 50px;
}


.main div {
	font-size: 1em;
}

.wrapper {
	max-width: 550px;
	border: 10px solid rgba(0,0,0,0.1);
	padding: 30px 20px;
}

.wrapper p {
	font-size: 2.8em;
	text-align: center;
}

.wrapper ul {
	font-size: 1.5em;
	list-style: none;
	margin: 20px auto;
}

.wrapper li {
	padding: 10px 0;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	display: flex;
}

.wrapper input + label::before {
	content: '⬜️';
	margin-right: 10px;
}

.wrapper input:checked + label::before {
	content: '🌮';
}

.wrapper li input[type="checkbox"] {
	display: none;
}

.wrapper form {
	margin: 10px auto;
}

.wrapper input, .wrapper button {
	padding: 10px;
	border: 1px solid rgba(0,0,0,0.1);
	outline: none;
}





